<ion-view view-title="Metro {{lieu.station}}">
  <ion-content>
    <div class="list card" ng-repeat="item in reponse" >
      <div class="item item-avatar"  >
        <h2>{{item.attributes.commentaires}}</h2>
        <p> par {{item.attributes.user_id}}</p>
        <i class="date">{{item.date[2]}} {{item.date[1]}} {{item.date[3]}}</i>
        <div class="clear"></div>
      </div>
      <div class="item item-body">
        <p>
          <a ng-click="votes('up',item.attributes.objectId)" class="subdued left ion-arrow-up-c">  {{item.attributes.point}} points</a>
          <a ng-click="votes('down',item.attributes.objectId)" class="subdued left ion-arrow-down-c">  </a>
        </p>
      </div>
    </div>
    <div class="fin">...</div>
  </ion-content>
</ion-view>
