/* Empty. Add your own CSS if you like */
*{
  font-family: Font;
}
@font-face {
    font-family: Font;
    src: url(parisine-regular.otf);
}
@font-face {
    font-family: anecdote;
    src: url(lacuna.ttf);
}
#menu{
  color: white;
  background-color: rgb(0, 170, 144);
}
.nav{
  color: white;
  background-color: rgb(0, 170, 144);
}
.submit{
  bottom : 0 !important;
  position: fixed !important;
  height : 10% !important;
}
.date{
  font-size: 75% !important;
  color: #545454 !important;
  float: right;

}
.clear{
  clear: both;
}
.select{
  width: 60%;
}

.fin{
  color: black !important;
  text-align: center;
  font-family: Font Verdana;
  background-color: #fafafa;
  width: 90%;
  font-size: 140%;
  height: 40px;
  margin: 0 auto;
}

.ligne{
  float: right !important;
  right: 3px;
  font-size: 13px;
}
.img-ligne{

}
.cont{
  width: 85%;
  margin: 0 auto;
}
#anecdote{
  font-family: anecdote;
  font-size: 19px;
}
.fleche{
  float: right;
}
.title{
  font-family:Font;
  font-size:50px;
  color: white;

}
.ligne{
  white-space: normal;
}
.subsection{
  height: 7%;
  vertical-align:middle;
  padding: 5%;"
}
