/* Empty. Add your own CSS if you like */
*{
  font-family: Font;
}
@font-face {
    font-family: Font;
    src: url(parisine-regular.otf);
}
@font-face {
    font-family: anecdote;
    src: url(lacuna.ttf);
}
#menu{
  color: white;
  background-color: rgb(0, 170, 144);
}
.nav{
  color: white;
  background-color: rgb(0, 170, 144);
}
.submit{
  bottom : 0 !important;
  position: fixed !important;
  height : 10% !important;
}
.date{
  font-size: xx-small !important;
  text-align: right;
  color: #545454 !important;
  float: right;
}
.clear{
  clear: both;
}
.select{
  margin-left: 35% !important;
  padding: 2%;
}

.fin{
  color: black !important;
  text-align: center;
  font-family: Font Verdana;
  background-color: grey;
  width: 80%;
  font-size: 150%;
  height: 40px;
  margin: 0 auto;
}

.ligne{
  font-size: 19px;
  color: #3f3f3f;
  margin-top: -7px;
  padding-left:  -10px;
  position:absolute;
}
.img-ligne{
  padding-left: 54px;
}
#anecdote{
  font-family: anecdote;
  font-size: 30px;
}
.fleche{
  float: right;
}
.title{
  font-family:Font;
  font-size:50px;
  color: white;
}
